html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.hero {
    background: linear-gradient(to right, #4caf50, #81c784);
    padding: 2rem 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 0.5rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    background:red;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #333;
    background-color: cyan;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
}
section {
    padding: 2rem;
    margin: 2rem 0;
    flex: 1;
}

section h2 {
    font-size: 2rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

.project, .job, .school {
    margin: 1rem 0;
}

.project img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.project img:hover {
    transform: scale(1.05);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}
